* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: #F6BD41;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: 700;
}

#gameCount {
        background-color: #3A296A;
        border-bottom: 2px 5px black;

        color: #F6BD41;
}

#box {
    width: 300px;
    height:650px;
    padding: 20px;
    margin: 50px auto;
    background-color: #553E8F;
    border: 2px solid black;
    box-shadow: 5px 5px 10px 1px rgb(46, 0, 46);
    border-radius: 15px 100px 15px 100px;
}

#gameName {
        color: #F6BD41;
        
}

#block {
    margin:20% 10%;
    display: flex;
    /*grid-template-columns: 1fr 1fr 1fr;  fraction*/
}

#num1, #num2, #operatorSymbol {
    padding: 5px 20px;
    box-shadow: 5px 5px 10px 1px rgb(46, 0, 46);
    font-size: 1.5em;
    width: 100px;
    color: #F6BD41;
    flex: 1fr;
}

#sumAnswer {
    font-size: 1.5em;
    font-weight: 400;
    color: #F6BD41;
}

#sumInput {
    font-size: xx-large;
    font-weight: 600;
    width: 150px;
    text-align: center;
}

.btn {
    box-shadow: 5px 5px 10px 1px rgb(46, 0, 46);
    margin: 15%;
    padding: 0 5px;
    font-size: large;
    background-color: #F6BD41;
    color: #553E8F;
    font-weight: 800;
    border-radius: 5px 5px 5px 5px
}

.btn:active {
    box-shadow: 1px 1px 1px 1px rgb(46, 0, 46);
  
}

#sign {
    font-size: .5em;
    color: darkslategray;
}

#Mark {
    margin: 15px auto;
    width: 150px;
    font-size: 15px;
    padding: 5px 2px;
    border: 1px solid floralwhite;
    color: white;
    box-shadow: 2px 2px 5px 1px rgb(46, 0, 46);
}

a {
    text-decoration: none;
}